<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Golf Bags</h1>
  <% if (user) { %>
    <h2>Add a Bag!</h2>
    <form action="/bags" method="POST">
      <div>
        <label>
          Unique Bag Name: 
          <input type="text" name="name" autocomplete="off">
        </label>
      </div>
      <div>
        <label>
          Years of Golfing Experience:
          <input type="number" name="year">
        </label>
        <button type="submit">Add Bag</button>
      </div>  
    </form>
  <% } %>
  <h2>All Bags</h2>
	<div class="list-group">
    <% bags.forEach(bag => { %>
    <a href="/bags/<%= bag._id %>" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1"> <%= bag.name %></h3>
        <h5>Owner of bag
          <% if(bag.year > 0) { %>
            has been golfing for <%= bag.year %> years 
          <% } else { %> 
            has no experience in golf but wants to learn
          <% } %>  
        </h5>
      </div>
    <% }) %>
  </div>
</section>

<%- include('../partials/footer') %>