<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/bags/index.css"/>
<%- include('../partials/nav') %>

<section>
  <h1 class="bags-title">Golf Bags</h1>
  <% if (user) { %>
    <h2 class="index-title">Add a Bag!</h2>
    <form action="/bags" method="POST">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Unique Bag Name</span>
        <input name="name" type="text"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Years of Golf Experience</span>
        <input name="year" type="number"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div>
        <button class="btn btn-primary"type="submit">Add Bag</button>
      </div>  
    </form>
  <% } %>
  <h2 class="index-title">All Bags</h2>
	<div class="list-group">
    <% bags.forEach(bag => { %>
    <a href="/bags/<%= bag._id %>" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1"> <%= bag.name %></h3>
        <h5>Owner of bag
          <% if(bag.year > 0) { %>
            has been golfing for <%= bag.year %> years 
          <% } else { %> 
            has no experience in golf but wants to learn
          <% } %>  
        </h5>
      </div>
    <% }) %>
  </div>
</section>

<%- include('../partials/footer') %>