<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/bags/show.css" />
<%- include('../partials/nav') %>

<section>
	<p> <%= bag.owner.name %>'s Golf Bag</p>
  <h1><%= bag.name %> ⛳️</h1>
  <h2>Clubs:</h2>
  <ul>
    <% bag.clubs.forEach(club => { %>
      <% console.log("club name ", club.name) %>
      <li><%= club.name %></li>
    <% }) %>   
  </ul>
  <% if (bag.owner.equals(user?.profile._id)) { %>
    <h2>Add Clubs to Bag</h2>
    <form id="add-per-to-clubs" action="/bags/<%= bag._id %>" method="POST">
      <select name="clubId">
        <% clubs.forEach(club => { %>
          <option value="<%= club._id %>"><%= club.name %>, <%= club.type %> </option>
          <% }) %>
        </select>
        <button type="submit">Add club</button>
      </form>
  <% } %>    
  <% if (user) { %> 
    <h2>Reviews:</h2>
    <% bag.clubs.forEach(club => { %>
      <% club.reviews.forEach(review => { %>
        <li><%= club.name %>:
        <%= review.content %> Rating: <%= review.rating %></li>
    <% }) %>
  <% }) %> 
  <% } %>
</section>

<%- include('../partials/footer') %>