<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/bags/show.css"/>
<%- include('../partials/nav') %>

<section class="bag-show">
  <div class="bag-card"> 
    <h1><%= bag.name %> ⛳️</h1>
    <p><%= bag.owner.name %>'s Golf Bag who has been golfing for <%= bag.year %> years</p>
  </div>
  <div class="clubs-new">
  <div id="clubs-card">
    <h2>Clubs:</h2>
    <div class="club-des">
      <% bag.clubs.forEach(club => { %>
        <% console.log("club name ", club.name) %>
        <li><a href="/clubs/<%= club._id %>"><%= club.name %></a>, <%= club.type %>, $<%= club.price %> 
          <form action="/bags/<%= bag._id %>/clubs/<%= club._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">X</button>
          </form>
        </li>
        <% }) %> 
      </td>  
    </div>
  </div>
  <div id="add-clubs">
    <% if (bag.owner.equals(user?.profile._id)) { %>
      <h2>Add Clubs to Bag:</h2>
      <form id="add-per-to-clubs" action="/bags/<%= bag._id %>" method="POST">
        <select class="form-select" aria-label="Default select example" name="clubId">
          <% clubs.forEach(club => { %>
          <option value="<%= club._id %>"><%= club.name %>, <%= club.type %>, $<%= club.  price %></option>
        <% }) %>
      </select>
      <button class="btn btn-primary" type="submit">Add club</button>
    </form>
      <div class="club-redirect">
        <form action="/clubs">
          <button type="submit" class="btn btn-outline-dark">New Club</button>
        </form>
      </div>  
    <% } %> 
  </div>
  </div>
  <div class="extras">
    <div id="bag-cost">
      <h2>Bag Cost:</h2>
      <% let total = 0 %>
      <% bag.clubs.forEach(club => { %> 
        <% total += club.price %> 
      <% }) %> 
      $<%= total %> 
    </div>
  <% if (user) { %> 
    <div id="rating">
      <h2>Rating:</h2>
      <% let sum = 0 %>
      <% bag.clubs.forEach(club => { %>
        <%club.reviews.forEach(review => { %>
          <% sum += review.rating %>
        <% }) %>
      <% }) %>
      <% if(sum >= 60) {%> 
        <h5 class="great">Great!</h5>
      <% } else if(sum < 60 && sum > 36) {%>
        <h5 class="above-average">Above Average</h5>
      <% } else if(sum < 36 && sum > 24) {%>
        <h5 class="average">Average</h5> 
      <% } else if(sum < 24 && sum > 0) { %> 
        <h5 class="below-average">Below Average</h5>
      <% } else if(sum === 0) {%> 
        <div>
        <h5 class="bad">Bad</h5>
        <a href="/clubs">Add Review</a> 
        </div>  
      <% } %> 
    </div>
  </div>
  <div id="reviews">    
      <h2>Reviews:</h2>
      <% bag.clubs.forEach(club => { %>
        <% club.reviews.forEach(review => { %>
          <div class="review-show">
            <div class="club-name">
              <%= club.name %>, <%= club.type %> 
            </div>
            : <%= review.content %>
          </div>  
        <% }) %>
      <% }) %> 
    <% } %>
  </div>  

</section>

<%- include('../partials/footer') %>