<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome to My Golf Bag! <%= user ? user.profile.name : "" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>

  <section class="intro">
    <h3>Buying clubs is never an easy process whether you are new to the game of golf or a seasoned vet. The goal of My Golf Bag is to make that process an easy and comfortable one regardless of your experience</h3>
    <p>Here you will be able to explore clubs that other golfers from all shapes and sizes use and better educate yourself on where you stand in the buying process. Hopefully after your experience on My Golf Bag you will have a better understanding about where you stand in your buying process.</p>
  </section>
</main>

<%- include('./partials/footer') %>
