<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/clubs/index.css"/>
<%- include('../partials/nav') %>

<main>
  <h1 class="clubs-title"><%= title %></h1>
      <form id="new-form" action="/clubs/<%= club._id %>?_method=PUT" method="POST">
        <div class="mb-3">
        <label for="name-input">Club Type:</label>
          <select class="form-select" aria-label="Default select example" name="name" id="name-select">
            <option value="Driver">Driver</option>
            <option value="Wood">Wood</option>
            <option value="Hybrid">Hybrid</option>
            <option value="Iron">Iron</option>
            <option value="Wedge">Wedge</option>
            <option value="Putter">Putter</option>
          </select>
        </div>
        <div>
          <label for="brand-input">Brand:</label>
          <div class="input-group mb-3">
            <input type="text" name="brand" id="brand-input" value="<%= club.brand %>" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
          </div>  
          <label for="type-input">Type:</label>
          <div class="input-group mb-3">
            <input type="text" name="type" id="type-input" value="<%= club.type %>" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <label for="price-input">Price:</label>
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="number" name="price" id="price-input" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" value="<%= club.price %>">
            <span class="input-group-text">.00</span>
          </div>
        </div>  
        <button type="submit" class="btn btn-primary">Add Club</button>
      </form>
</main>

<%- include('../partials/footer') %>
