<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
      <form id="new-form" action="/clubs/<%= club._id %>?_method=PUT" method="POST">
        <label for="name-input">Club Type:</label>
        <select name="name" id="name-select">
          <option value="Driver">Driver</option>
          <option value="Wood">Wood</option>
          <option value="Hybrid">Hybrid</option>
          <option value="Iron">Iron</option>
          <option value="Wedge">Wedge</option>
          <option value="Putter">Putter</option>
        </select>
        <label for="brand-input">Brand:</label>
        <input type="text" name="brand" id="brand-input" value="<%= club.brand %>">
        <label for="type-input">Type:</label>
        <input type="text" name="type" id="type-input" value="<%= club.type %>">
        <label for="price-input">Price:</label>
        <input type="number" name="price" id="price-input" value="<%= club.price %>">
        <button type="submit" class="btn btn-primary">Add Club</button>
      </form>
</main>

<%- include('../partials/footer') %>
