<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Club List</h1>
  <table id="list" class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Club Type</th>
        <th scope="col">Brand</th>
        <th scope="col">Type</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <% clubs.forEach((club) => { %> 
        <tr>
          <th scope="row"><%= club.name %></td>
          <td><%= club.brand %></td>
          <td><%= club.type %></td>
          <td>$<%= club.price %></td>
          <% if (user) { %>
            <td>
              <form action="/clubs/<%= club._id %>">
                <button class="btn btn-success">VIEW CLUB</button>
              </form>
            </td>
            <td>
              <form action="/clubs/<%= club._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">X</button>
              </form>
            </td>
            <% } %>
          </tr>
          <% }) %> 
        </tbody>
      </table>
      <% if (user) { %>
      <h1><%= title %></h1>
      <form id="new-form" action="/clubs" method="POST">
        <label for="name-input">Club Type:</label>
        <select name="name" id="name-select">
          <option value="Driver">Driver</option>
          <option value="Wood">Wood</option>
          <option value="Hybrid">Hybrid</option>
          <option value="Iron">Iron</option>
          <option value="Wedge">Wedge</option>
          <option value="Putter">Putter</option>
        </select>
        <label for="brand-input">Brand:</label>
        <input type="text" name="brand" id="brand-input" placeholder="Ex: Calloway">
        <label for="type-input">Type:</label>
        <input type="text" name="type" id="type-input" placeholder="Ex: Big Bertha B21">
        <label for="price-input">Price:</label>
        <input type="number" name="price" id="price-input">
        <button type="submit" class="btn btn-primary">Add Club</button>
      </form>
      <% } %>
</main>

<%- include('../partials/footer') %>
