<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= club.name %></h1>
  <h2><%= club.brand %></h2>
  <h2><%= club.type %></h2>
  <h2>$<%= club.price %></h2>
  <section>
    <h2>Reviews</h2>
  <form 
    id="add-review-form"
    action="/clubs/<%= club._id %>/reviews"
    method="POST"
  >
    <label for="content-textarea">Review</label>
    <textarea name="content" id="content-textarea"></textarea>
    <label for="rating-select">Rating</label>
    <select name="rating" id="rating-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <button type="submit">Add Review</button>
  </form>

  <% if (club.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% club.reviews.forEach(function(review) { %>
          <% total += review.rating %>
          <tr>
            <td><%= review.createdAt.toLocaleDateString() %></td>
            <td><%= review.content %></td>
            <td><%= review.rating %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No reviews Yet</h3>
    <% } %>
</main>
      
  </section>

<%- include('../partials/footer') %>
